.container-fluid
  %h1 Landing page
  = link_to "Privacy Policy", privacy_policy_path
  .card{:style => "width: 18rem;"}
    %img.card-img-top{:alt => "...", :src => "..."}/
    .card-body
      %h5.card-title Card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      %a.btn.btn-primary{:href => "#"} Go somewhere
%h1
  Example heading
  %span.badge.bg-secondary New
%h2
  Example heading
  %span.badge.bg-secondary New
%h3
  Example heading
  %span.badge.bg-secondary New
%h4
  Example heading
  %span.badge.bg-secondary New
%h5
  Example heading
  %span.badge.bg-secondary New
%h6
  Example heading
  %span.badge.bg-secondary New
%button.btn.btn-primary{:type => "button"}
  Notifications
  %span.badge.bg-secondary 4
%i.fas.fa-home
